@import "~bootstrap/scss/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body{
    //background-image: linear-gradient(#c2e9fa, #83c0d7);
    background: #fdfdfd;
}

.blockTitle{
    margin: 0;
    margin-top: 3%;
}

.firtsLine{
    margin: 0;
    margin-bottom: -1.5rem;
    padding-left:9px;
    font-family: Roboto Mono;
    font-size: 26px;
    text-align: left;
    color: #29708e;
}

.secondLine{
    margin: 0;
    
    color:#29708e;
    text-align: left;
    font-size:125px;
}



.far{
    //ICONO RELOJ DEL CONTADOR
    margin: 0;
    margin-top:3%;
   
    background-image: linear-gradient(#498daa, #29708e);
    //background: #3d88a8;
    color:#fdfdfd;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    padding: 1%;
    text-align: center;
    font-size:72px;
}

hr{
    width: 600px;
}