
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');


.counter{
    margin: 0;
   margin-top:3%;
    margin-left: 0.4%;
    background-image: linear-gradient(#498daa, #29708e);
    box-shadow: 0 28px 28px 0 rgba(0, 0, 0, 0.2), 0 26px 26px 0 rgba(0, 0, 0, 0.19);
    color:#fdfdfd;
    border-radius: 15px;
    width: 100px;
    height: 100px;
    
  
   
}

.number{
    
    font-family: Roboto Mono;
    padding: 5%;
    text-align: center;
    font-size:72px;
    color: #fdfdfd;
}